$color_0: #055ba7;
$color_1: #0071A7;
$color_2: #69CFF7;
$color_3: #9EE0FA;
$color_4: rgb(221, 255, 248);
$color_5: #009AD0;

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.ttf");
}

body {
  background: $color_2;
  #app {

    font-family: Lobster;
    background: $color_2;

    .left-menu-container {
      margin-top: 30px;
      .time-container {
        text-align: center;
        font-size: 2em;
        color: $color_4;
      }
      .leader-board-view {
        border-bottom: 2px solid $color_3;
        color: $color_4;
        .leaderboard{
          text-transform: uppercase;
          font-size: 1.5em;
          padding-left: 10px;
        }
        .last-days{
          @extend .leaderboard;
        }
      }
      .users-container{
        margin-top: 10px;
        .user {
          margin-top: 5px;
          .avatar {
            width: 50px;
            height: 50px;
          }
          .login{
            position: absolute;
            font-size: 1.2em;
            line-height: 45px;
            color: #ddfff8;
            padding-left: 10px;
            z-index: 2;
          }
          .commits-progress{
            margin-top: 4px;
            height: 40px;
            width: 100%;
            border-radius: 30px;
            overflow: hidden;
            z-index: 1;
            .progress{
              height: 100%;
              width: 100%;
              background: $color_5;
            }
          }
        }
      }
    }

    .content-container {
      margin-top: 15px;
      .header-container {
        .title {
          text-align: center;
          text-transform: uppercase;
          color: $color_1;
          h3 {
            font-size: 2em;
          }
        }
        .repo {
          @extend .title;
          padding-right: 0;
          h4 {
            font-size: 1.8em;
            float: right;
          }
        }
        .repo-value {
          input {
            border: none;
            box-shadow: none;
            border-radius: 0;
            border-bottom: 2px solid $color_3;
            padding-left: 0;
            color: $color_4;
            background: $color_2;
            padding-bottom: 3px;
            font-size: 1.5em;
          }
        }
        .search {
          padding-left: 0;
          button {
            border: none;
            box-shadow: none;
            outline: none;
            border-radius: 0;
            color: $color_4;
            background: $color_1;
            &:active {
              background: $color_0;
            }
          }
        }
      }
      .chart-container {
        .chart {
          position: relative;
          transform: translate(-50%);
          margin-left: 50%;
          z-index: 2;
        }
        .chart-background {
          top: 83px;
          position: absolute;
          transform: translate(-50%);
          margin-left: 50%;
          z-index: 1;
          .circle {
            margin-left: -28px;
            width: 395px;
            height: 395px;
            background: $color_5;
            border-radius: 50%;
          }
        }
      }
    }
  }
}